@keyframes slideInDisplay{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
    }
}

@keyframes slideOutDisplay{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(100%);
    }
}
