header{
    height: 10vh;
}

#headerContainer{
    display:flex;
    padding: 0 10%;
    align-items: center;
    justify-content: space-between;
}

.pageConfig{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:180px;
    gap: 8px;
}

.pageTitle a{
    color: inherit;
}

.pageConfig button{
    text-align: center;
    color: inherit;
    border: none;
    border-radius: 8px;
    padding: 0 0;
    font-family: "Lato";
    transition: 0.5s all;
    height: 32px;
    width: 100%;
}

.pageConfig button:hover,.pageConfig img{
    cursor: pointer;
    transform: scale(1.05);
}
