header{
    height: 15vh;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main_navigation{    
    position: fixed;
    inset: 0 0 0 40%;
    z-index: 1;
    display: none;
    flex-direction: column;
    background-color: #3a44503e;
    backdrop-filter: blur(0.25rem);
    padding: 20vh 2rem;
}

.navigation_item{
    margin-bottom: 1rem;
    text-decoration: none;
    color: var(--white-0);
    width: fit-content;
}

.settings_button, .theme_button{
    cursor: pointer;
}

.settings_nav_list{
    display: none;
}

.settings_list{
    margin-top: 1rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.settings_item{
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.navigation_checkbox{
    appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 0.25rem;
    background-color: var( --black-5);
    cursor: pointer;
}

.navigation_checkbox:checked{
    background-color: var( --black-3);
    background-image: url(../img/icons/menu/check-lg.svg);
}

.navigation_icon{
    width: 24px;
    height: 24px;
    z-index: 2;
    background-image: url(../img/icons/menu/list.svg);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

@media (min-width: 540px){
    .main_navigation{
        position: initial;
        display: flex;
        padding: 0;
        background-color: transparent;
    }

    .navigation_list{
        display: flex;
        gap: 1rem;
    }

    .navigation_item{
        margin-bottom: 0rem;
    }

    .settings_list{
        position: absolute;
        margin-left: 0rem;
    }

    .navigation_icon{
        display: none;
    }
}

@media (min-width: 768px) {
    .navigation_list{
        gap: 2rem;
    }
}