main{
    display: flex;
    flex-direction: column;
    height: 70vh;
    gap: 4rem;
    min-height: 440px;
}

.local_time{
    margin-top: auto;
}
 
.local_hour{
    display: flex;
    align-items: baseline;
}

.local_date{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.world_time{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.cities_time{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.city_time{
    display: inherit;
    flex-direction: column;
    gap: 0.25rem;
}

.city_hour{
    display: inherit;
    align-items: baseline;
}

.city_info{
    display: inherit;
    flex-direction: column;
    gap: 0.25rem;
    text-align: right;
}

.city_card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--black-4);
    border-radius: 1rem;
    padding: 0 1rem;
    min-height: 80px;
}

.add_icon{
    width: 32px;
    height: 32px;
    background-image: url(../img/icons/menu/plus-circle-fill.svg);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}
