main{
    display: flex;
    flex-direction: column;
    height: 70vh;
    gap: 4rem;
    min-height: 440px;
}

.local_time{
    margin-top: auto;
}
 
.local_hour{
    display: flex;
    align-items: baseline;
}

.local_date{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.world_time{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.cities_time{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.city_time{
    display: inherit;
    flex-direction: column;
    gap: 0.25rem;
}

.city_hour{
    display: inherit;
    align-items: baseline;
}

.city_info{
    display: inherit;
    flex-direction: column;
    gap: 0.25rem;
    text-align: right;
}

.city_card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--black-4);
    border-radius: 1rem;
    padding: 0 1rem;
    min-height: 72px;
}

.add_icon{
    width: 32px;
    height: 32px;
    background-image: url(../img/icons/menu/plus-circle-fill.svg);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.add_city{
    width: 100%;
    border: none;
    background-color: transparent;
    text-align: right;
    font-size: 1rem;
    font-weight: 200;
    font-family: "Montserrat", sans-serif;
    color: var(--white-0);
    outline: none;
    background-image: url('../../img/icons/menu/plus-circle.svg');
    background-position: right;
    background-size: contain;
    background-size: 16px 16px;
    background-repeat: no-repeat;
}

.add_city::placeholder{
    font-family: inherit;
    color: inherit;
}

.add_city:focus, .add_city:hover{
    background-image: none;
    cursor: text;
}

@media (min-width: 540px){
    .cities_time{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
        grid-template-rows: auto;
        column-gap: 2%;
        row-gap: 4%;
    };
};

