@keyframes slideInDisplay{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
    }
}

@keyframes slideOutDisplay{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(100%);
    }
}


@keyframes displayBackground{
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 100% 0;
    }
}